h1 {
  border-color: #94416c;
  border-style: dashed;
}

body { 
  color: #ffbfe0;
  background-color: #b59fab;
  font-family:'Serif', Garamond; 
}

h2 {
  border-color: #94416c;
  border-style: dotted; 
}

ul {
  list-style-type: "☆"; 
}

img {
  width: 256px; 
}